$bg : #00539f;
$front : white;
$container-width : 360px;
$container-height : 420px;
$half-height : 250px;
$row-width : 100%;
$h1 : 48px;
$small-txt : 10px;
body{
	background : $bg;
	color : $bg;
	margin : 0;
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.container{
	width : $container-width;
	height : $container-height;
}
.half-height{
	height : $half-height;
	border : 5px solid $bg;
}
.row{
	width : $row-width;
}
.half-height,.small-blocks > div {
	border-radius : 10px;
	background : $front;
	color : $bg;
}
.small-blocks div{
	height : $container-height / 3.5;
	border : 2px solid $bg;
	p {
		font-size : 10px;
	}
}
h1{
	font-size : $h1;
	margin : 0;
	span{
		font-size: $h1 / 3 
	}
}
h1 + img{
	width : 128px;
}
%grid{
		float: left ;
		min-height: 1px;
    	padding-left: 5px;
    	padding-right: 5px;
    	position: relative;
}
@for $i from 1 through 12 {
	.col-md-#{$i} {
		@extend %grid;
		width: percentage($i / 12) ;
	}
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.txt-center{
	text-align : center;
}
.center-image{
	margin : 0 auto;
	display : block;
}
.small-txt{
	font-size : $small-txt;
}
.footer{
	color : $front;
	p{
		position : absolute;
		bottom: 0; 
		font-size : $h1 / 3 ;
		left : 85px;
	}
}